#container {

    width: 100%;
}

.card {
    margin: 1rem;
    /* padding: 2px; */
    display: inline-grid;
    align-content: space-around;
    
    /* gap: 50px 100px; */

    /* background-color: #000000 */
}

#container h1 {
    padding: 2rem;
    font-size: 3.5rem;
    text-align: center;
}